{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 class="account-heading"> Yew Teik Kheng</h1>
            <p class="text-secondary">teikkheng@gmail.com</p>
        </div>
    </div>
    <legend class="border-bottom mb-4">About Myself</legend>
    <p>
        A data scientist with years of experience using predictive modelling, data processing, and data science to solve
        challenging business problems. Results-driven professional with good technical skills, firm grasp of business
        needs and understanding of user requirements to deliver smart (data) products. An excellent communicator in data
        storytelling.
        <br> <br>
        My aspiration is to be a technical data professional that can help any organization to leverage on the abundance
        of data to create value and keep the organization at the forefront of the industry.
        <br> <br>
        My interests are diverse from traditional machine learning, deep learning, AI in general to computer vision and
        natural language processing. I have experience from devising realistic data-driven use cases to the actual
        implementation into a real product. I mainly use Python and the Pytorch stack for most of my machine learning
        works but I also have
        experience in using various computing services on Google Cloud, SQL, Flask web application framework and many
        more.
    </p>
</div>
{% endblock content %}