{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h2 class="border-bottom mb-4">
        Work Experience
    </h2>
    <h4>Data Scientist II</h4>
    <h5>
        <a class="mr-2" href="https://www.airasia.com/en/gb" target="_blank">AirAsia</a>
        <small class="text-muted">(Aug 2019 - Current)</small>
    </h5>
    <ul>
        <li>Builds and deploys NLP classification models to automate safety reports assessment process (achieved 90% accuracy rate).</li>
        <li>Performs topic modelling using LDA and text summarization using TextRank on customers' NPS feedback to better understand customers' voices, achieving 80% improvement in time taken for feedback analysis.</li>
    </ul>
    <hr>


    <h4>Data Analyst Intern</h4>
    <h5>
        <a class="mr-2" href="https://www.edelman.com/expertise/predictive-intelligence-epic" target="_blank">Edelman Predictive Intelligence Centre</a>
        <small class="text-muted">(Jan 2019 - June 2019)</small>
    </h5>
    <ul>
        <li>Performed descriptive statistical analysis and developed data visualization for psychometric and behavioural cognitive study on parents' preference on different forms of learning.</li>
        <li>Performed text analysis to classify articles on human trafficking cases in Malay language.</li>
    </ul>
    <hr>


    <h4>Project Manager</h4>
    <h5>
        <a class="mr-2" href="http://www.keppelom.com/en/content.aspx?sid=2516" target="_blank">Keppel Shipyard Limited</a>
        <small class="text-muted">(Feb 2015 - June 2018)</small>
    </h5>
    <ul>
        <li>Lead project manager for procurement and engineering project worth $34M.</li>
        <li>Managed and delivered 9 ship repair projects ($0.5M - $2M), 1 integration project ($40M) and 1 conversion project ($125M).</li>
    </ul>
    <hr>


    <h4>Project Engineer</h4>
    <h5>
        <a class="mr-2" href="http://www.keppelom.com/en/content.aspx?sid=2516" target="_blank">Keppel Shipyard Limited</a>
        <small class="text-muted">(Aug 2013 - Jan 2015)</small>
    </h5>
    <hr>


    <h4>MAchinery Engineer</h4>
    <h5>
        <a class="mr-2" href="http://www.keppelom.com/en/content.aspx?sid=2516" target="_blank">Keppel Shipyard Limited</a>
        <small class="text-muted">(Aug 2011 - Jul 2013)</small>
    </h5>


</div>


<div class="content-section">
    <h2 class="border-bottom mb-4">
        Education
    </h2>


    <h4>Master of IT in Business: Analytics</h4>
    <h5>
        <a class="mr-2"
            href="https://sis.smu.edu.sg/master-it-business?gclid=EAIaIQobChMIiIasl8zy6AIVwhwrCh39ggEgEAAYASAAEgKpv_D_BwE"
            target="_blank">Singapore
            Management University</a>
        <small class="text-muted">(Aug 2018 - Aug 2019)</small>
    </h5>
    <ul>
        <li>Graduated with 4.14/4.0 GPA (summa cum laude)</li>
        <li>Dean's List 2018/2019</li>
        <li>Recipient of SMU MITB Partial Scholarship</li>
    </ul>
    <hr>


    <h4>Bachelor of Engineering: Mechanical Engineering</h4>
    <h5>
        <a class="mr-2" href="https://www.eng.nus.edu.sg/me/" target="_blank">National University of Singapore</a>
        <small class="text-muted">(Aug 2007 - May 2011)</small>
    </h5>
    <ul>
        <li>Graduated with 4.58/5.0 GPA (First Class Honours)</li>
        <li>Dean's List Semester 2, 208 and Semester 1, 2009</li>
        <li>Recipient of Keppel Group Scholarship 2007</li>
    </ul>
    <hr>

</div>


<div class="content-section">
    <h2 class="border-bottom mb-4">
        Technical Skills
    </h2>


    <div class="entry-content" itemprop="text">
        <h4>Languages:</h4>
        <ul>
            <li>Python</li>
            <li>SQL</li>
            <li>R</li>
            <li>HTML / CSS</li>
            <li>PHP</li>
        </ul>
        <h4>Development Tools: </h4>
        <ul>
            <li>Visual Studio Code</li>   
            <li>Jupyter</li>
            <li>Git and GitHub</li>
        </ul>
        <h4>Libraries: </h4>
        <ul>
            <li>Pandas and Numpy</li>
            <li>Machine Learning with Scikit-learn</li>
            <li>Deep Learning with Pytorch, Tensorflow, Keras</li>
            <li>NLP with Gensim, Spacy, NLTK</li>
        </ul>
        <h4>Google Cloud Platform: </h4>
        <ul>
            <li>AI Platform,</li>
            <li>App Engine</li>
            <li>Kubernetes Engine</li>
            <li>BigQuery</li>
        </ul>    
        <h4>Framework: </h4>
        <ul>         
            <li>Flask</li>
        </ul>
    </div>


</div>
{% endblock content %}